body { margin:5%; background:rgb(116, 116, 226); text-align:justify}
p {text-indent: 5em; background-color: rgb(73, 70, 230); font-family:"Comic Sans MS"; font-size: larger;}
H1,H2,H3,H4,H5,H6 {color: rgb(30, 107, 8); text-align: center; font-family: cursive; letter-spacing: 1em;}
/* CSS images taken from https://www.w3schools.com/css/css3_images.asp on 2021-02-23 */
img {border-radius: 50%; max-width: 100%;}
