body { margin:5%; text-align:justify; background-image: url(images/old-paper.jpg);}
/*Background image taken from https://thearthousesouthampton.org/paper-background/ on 2021-02-24*/
p {text-indent: 5em; background-color:blanchedalmond;padding:10px; border-radius: 10px; font-family:serif; font-size: larger;}
H1,H2,H3,H4,H5,H6 {color: rgb(30, 107, 8); text-align: center; font-family:cursive;}
/* CSS images taken from https://www.w3schools.com/css/css3_images.asp on 2021-02-23 */
img {border-radius: 50px; max-width: 100%;}
